<head>
  <title>A Multiplication Game</title>
</head>

<div class="container">
  <body>
    <main class="main">
      <h1>Multiplication game</h1>
      <form (ngSubmit)="submitChallenge()" [formGroup]="form" class="form">
        <mat-form-field>
          <mat-label *ngIf="challenge" class="label"> Your alias: </mat-label>
          <input matInput type="text" formControlName="alias" />
          <mat-error
            *ngIf="
              alias?.hasError('required') && (alias?.touched || alias?.dirty)
            "
          >
            Your alias is required
          </mat-error>
        </mat-form-field>
        <h4 class="challenge" *ngIf="haveChallenge">New challenge</h4>
        <p *ngIf="haveChallenge; else elseBlock" class="challenge">
          {{ challenge.factorA }} x {{ challenge.factorB }}
        </p>

        <ng-template #elseBlock>
          <p>No challenges to show</p>
        </ng-template>

        <mat-form-field class="input guess">
          <mat-label *ngIf="challenge" class="label"> Your guess: </mat-label>
          <input matInput type="text" formControlName="guess" />
          <mat-error
            *ngIf="
              guess?.hasError('required') && (guess?.touched || guess?.dirty)
            "
          >
            Guess is required
          </mat-error>
          <mat-error
            *ngIf="guess?.hasError('min') && (guess?.touched || guess?.dirty)"
          >
            Guess should be at least zero
          </mat-error>
          <mat-error *ngIf="guess?.errors?.['pattern']"
            >Input has to be a number
          </mat-error>
        </mat-form-field>

        <button
          mat-button
          type="submit"
          [disabled]="form.invalid"
          class="button"
        >
          Submit
        </button>
      </form>

      <h4 class="message">{{ message }}</h4>
    </main>
  </body>
</div>
