.root {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 25rem 35rem 25rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.attempts-table {
  min-height: 45rem;
  background-color: antiquewhite;
  min-width: 25rem;
}

.game {
  background-color: #282c34;
  min-height: 45rem;
  min-width: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  gap: 5rem;
}

.leaderboard-table {
  min-height: 45rem;
  min-width: 25rem;
  background-color: antiquewhite;
}
