.root {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container {
  background-color: aliceblue;
  min-height: 30rem;
  min-width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
