<div class="container" *ngIf="!serverError; else elseBlock">
  <h3><b>Leaderboard</b></h3>
  <mat-table [dataSource]="dataSource" class="leaderboard-table">
    <ng-container matColumnDef="User">
      <th mat-header-cell *matHeaderCellDef>User</th>
      <td mat-cell *matCellDef="let row">
        {{ row.userAlias ? row.userAlias : row.userId }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Score">
      <th mat-header-cell *matHeaderCellDef>Score</th>
      <td mat-cell *matCellDef="let row">
        {{ row.totalScore }}
      </td>
    </ng-container>
    <ng-container matColumnDef="Badges">
      <th mat-header-cell *matHeaderCellDef>Badges</th>
      <td mat-cell *matCellDef="let row">
        <span *ngFor="let badge of row.badges" class="badge">{{ badge }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </mat-table>
</div>

<ng-template #elseBlock>
  <p class="message">
    <b>We're sorry, we can't display game statistics at this moment.</b>
  </p>
</ng-template>
